@import url(https://fonts.googleapis.com/css?family=Merriweather:400,500);

* {
  margin: 0;
  padding: 0;
  font-size: 15px;
  list-style: none;
  vertical-align: baseline;
  font-family: Merriweather, Sans-Serif;
}

html, .page {
  background-color: #AC87C5;
}

#quote-box {
  background-color: #756AB6;
  border-radius: 5px;
  width: 90vh;
  max-height: 100vh;
  margin: 50px auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

#quote-text {
  display: flex;
  align-self: center;
}

#text {
  font-size: 2.5rem;
  font-weight: Bold;
  color: #FFE5E5;
  margin: 1.2em 1.2em 0.5em 1.2em;
}

#author {
  font-size: 1.6rem;
  text-align: right;
  margin-right: 1.5em
}

button {
  background-color: #E0AED0;
  padding: 5px;
  border-radius: 6px;
  border: none;
}

button:hover {
  background-color: #FFE5E5;
}

.buttons {
  display: flex;
  justify-content: space-between;
  color: black;
  margin-top: 20px;
}

a{
  text-decoration: none !important;
  color: black !important;
}